@import "libs/mixins";
$app-1:#30607a;
$app-2:#0092bf;

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,300,700');

html {
  font-size: 100%;
}

/*16px*/

body {
  background: rgb(0, 146, 191);
  background: -moz-linear-gradient(25deg, #0092bf0c 0%, hsl(205, 55%, 90%) 100%);
  background: -webkit-linear-gradient(25deg, rgba(0, 146, 191, 0.158) 0%, rgba(214, 231, 243, 1) 100%);
  background: linear-gradient(25deg, rgba(0, 146, 191, 0.116) 0%, rgba(214, 231, 243, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0092bf", endColorstr="#d6e7f3", GradientType=1);

  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.75;
  color: rgb(0, 72, 94);
}

p {
  margin: 0 !important;
  color: rgb(255, 255, 255);
}

h1,
h2,
h3,
h4,
h5 {
  // margin: 3rem 0 1.38rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.3;
  font-weight: bold;
}

h1 {
  font-weight: bold;
  margin-top: 0;
  font-size: 3.052rem;
  color: $app-1;
}

h2 {
  font-size: 1.3rem;
  color: #3db6c3;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
  color: $app-1;
}

h5 {
  font-size: 1.25rem;
}

small,
.text_small {
  font-size: 0.8rem;
}

.App {


  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  text-align: center;
  flex-flow: column;

  .App-contenedor {
    background-size: cover;
    background-attachment: scroll;
    background-position: center center;
    background-image: url("../img/bg-coiner-desktop.png");
    min-height: 100vh;
    height: auto;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    z-index: 0;

    .contenedor {
      min-height: 90vh;
      flex-flow: column;
      width: 100%;
      box-sizing: border-box;
      padding: 1rem;
      max-width: 1080px;
      display: flex;
      justify-content: space-between;
    }




    .contenedor-imagen-izquierda {
      display: flex;
      justify-content: flex-end;

      @include tablet {
        justify-content: center;
      }
    }

    .contenedor-imagen-derecha {
      display: flex;
      justify-content: flex-start;
      top: 10px;

      @include tablet {
        justify-content: center;
      }
    }

    .App-logo {
      max-width: 300px;
      height: 100%;
      padding: 1rem;
      position: relative;

      @include tablet {
        max-width: 350px;
        max-height: 180px;
        justify-content: center;
      }

      @include tablet {
        max-width: 280px;
        max-height: 150px;
        justify-content: center;
      }
    }

    h2 {
      color: #3db6c3;
      font-size: 2rem;
    }
  }


  .comite-contenedor,
  .profesores-contenedor {

    height: auto;
    padding: 7rem 1rem 1rem 1rem;

    .comite,
    .profesores {
      margin: auto;
      min-height: 100vh;
      height: auto;
      display: grid !important;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      gap: 1rem;
      height: auto;
      width: 90%;
      max-width: 1080px;
      justify-content: space-around;

      @include tablet {

        grid-template-columns: 1fr 1fr;
      }

      @include phone {

        grid-template-columns: 1fr;
      }

      &-el {
        width: 280px;
        height: 280px;
        border-radius: 15px;
        padding: 1.5rem;
        margin-bottom: 1rem;
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        transition: 0.4s ease-out;
        box-shadow: 0px 7px 10px #01729444;
        flex-flow: column;
        position: relative;

        .nombre-card {
          opacity: 0;
          position: absolute;
          bottom: 0;
        }

        @include phone {
          margin-bottom: 1.2rem;
        }

        &:hover {
          transform: translateY(10px);
          cursor: pointer;

          &:before {
            opacity: 1;
          }

          .info {
            opacity: 1;
            transform: translateY(0px);
            text-shadow: 2px 2px 3px rgba(7, 45, 66, 0.356);

            .nombre-ponente {
              color: #51ffe0;

            }
          }

          .nombre-card {
            opacity: 0
          }
        }

        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 100%;
          height: 100%;
          border-radius: 15px;
          background: #0172946e;
          z-index: 2;
          transition: 0.5s;
          opacity: 0;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 15px;
        }

        .info {
          position: relative;
          z-index: 3;
          color: white;
          opacity: 0;
          transform: translateY(30px);
          transition: 0.5s;
          text-align: left !important;

          h1 {
            margin: 0px;
          }

          p {
            letter-spacing: 1px;
            font-size: 15px;

          }


        }
      }
    }
  }


}


.contenedor-modal {
  align-items: center;
  justify-content: center;
  flex-flow: column;

  @include tablet {
    display: flex;
    flex-flow: column !important;
  }

  .imagen-modal {
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 1rem;
  }

  .texto {

    .nombre {

      font-size: 1.2rem;
      font-weight: bold;
      color: #3db6c3;
    }

    .titulo-ponente {
      font-size: 1.2rem;
      font-weight: bold;
      color: #045963;
    }

    p {
      font-size: 1rem;
    }

    padding: 1rem;
  }

  img {
    max-width: 240px;
  }
}


#tsparticles {
  width: 100%;
  pointer-events: initial;
  position: fixed;
  z-index: -1;
  top: 0;
  height: 100vh;
  left: 0;
}

.trayectoria {
  color: $app-1;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #e3edf5;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: .3rem;
  outline: 0;
  max-width: 690px;
}

.boton-cerrar {
  background-color: $app-2 !important;
  position: absolute;
  right: 7px;
  top: 7px;
}

footer {
  padding: 3rem;
  box-sizing: border-box;

  small {
    letter-spacing: 0.3px;

  }
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100vw;
  height: 100vh;
  background-color: #0193bf;



}

.modal-open {
  #tsparticles {
    z-index: 1050;
  }
}

.registro,
.gracias {
  background-size: cover;
  background-attachment: scroll;
  background-position: center center;
  background-image: url("../img/bg-coiner-desktop.png");
  min-height: 100vh;
  height: auto;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
  z-index: 0;

  p {
    color: $app-1;
  }
}

.contenedor-form {
  margin-top: 3rem;
  min-height: 90vh;
  flex-flow: column;
  box-sizing: border-box;
  padding: 1rem;
  max-width: 700px;
  display: flex;
  width: 100%;

}


s .row2 {
  grid-template-areas: "titulo titulo";
}

.flex {
  display: flex;
  flex-flow: column;
}

input[type=radio],
input[type=checkbox] {
  margin-right: 0.5rem;
}

.contenedor-titulo-form {
  grid-area: titulo;
  text-align: center;
}


.ocupacion {
  display: flex;
  flex-flow: column;
  align-items: flex-start;

}

a {
  text-decoration: none;
}

.btn-primary {
  background-color: $app-2;
  border: $app-1;
  padding: 0 1rem;
  border-radius: 1rem;
  text-decoration: none;

  &:hover {
    background-color: $app-1
  }
}

#mc_embed_signup .button {
  clear: both;
  background-color: $app-1 !important;
  border: 0 none;
  border-radius: 4px;
  transition: all 0.23s ease-in-out 0s;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: normal;
  height: 32px;
  line-height: 32px;
  margin: 0 5px 10px 0;
  padding: 0 22px;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
  width: auto;

  &:hover {
    background-color: $app-2;
  }
}

small {
  color: #0d2d42 !important;
}

.campos-req {
  top: 10px;
  right: 10px;
  position: absolute;
  display: block;

  @include phone {
    position: relative;
    margin-bottom: 1rem;
  }
}

.field-help {
  margin-top: 0.1rem;
  font-size: 11px;
}

.patrocinadores {
  margin-top: 5rem;

}

.patrocinadores-Contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;

  justify-self: center;

  @include tablet {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

  @include phone {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .patrocinadores-img {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: auto;
      max-width: 180px;
    }
  }
}


footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;

  a {
    text-decoration: none;
    cursor: pointer;
    color: $app-1;
    font-size: 1.8rem;

  }

  .redes {
    padding: 1rem;
    color: $app-1;
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-evenly;


  }
}

.contenedor-aviso {
  padding: 1rem;
  text-align: left;
  max-width: 1080px;

  @include phone {
    font-size: 12px;
  }

  h1,
  h2 {
    text-align: center;
  }

  p {
    margin-top: 1rem !important;
    text-align: justify !important;
    color: $app-1 !important;
  }

  ol.k {
    list-style-type: lower-alpha !important;
  }

  .titulo {
    text-align: left;
    font-weight: bold;
  }

  p.final {
    text-align: right !important;
  }

  strong {
    font-weight: bold !important
  }

}

a {
  &:hover {
    color: $app-2 !important;
  }

  cursor:pointer;

  color: $app-1 !important;
}


.input-group {
  display: flex;
  flex-flow: column;
}

.datefield {

  flex-flow: column;
}

.Error {
  display: flex;
  align-items: center;
  min-height: 80vh;
}

.login {
  min-height: 90vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  .contenedor-login {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: white;

    box-shadow: 0px 7px 10px #01729444;

    .formulario {
      width: 100%;

      button {
        margin-left: auto !important;
        margin-right: auto !important;
      }

      h2 {
        text-align: center !important;
      }

      .form-grupo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;

        input {
          margin-left: 10px;
        }
      }
    }
  }
}

.contenedor-video {
  width: 100%;
}

.video {
  position: relative;
  height: auto;
  width: 1080px;
}

.btn-transmision {
  position: absolute;
  right: 5%;
  top: 20px;
}

.logo-trans {
  max-width: 200px;
  padding: 1rem;
}

.contenedor-agendas {
  display: flex;
  flex-flow: column;

  .Agenda {
    padding-bottom: 1rem;
    margin: auto;
    width: 100%;
    height: auto;
    max-width: 900px;
  }
}